
<div ng-controller='CityController as cityCtrl'><h4>SELECT A CITY</h4>
	<form>
		<select name='city_name' ng-model='cityCtrl.selection'>
			<% @cities.each do |city| %>
				<option value='<%=city.city_name%>'><%=city.city_name%></option>
			<% end %>
		</select>
		<br/><br/>
		<button ng-click='cityCtrl.sendCity()'>Search City</button>
	</form>
	<br><br><br>
	<div class='container-fluid'>

			<table class='table table-bordered' ng-if='cityCtrl.city_name'>
				<thead>
					<th class='center'>City</th>
					<th class='center'>Population</th>
					<th class='center'>Jobs Per 1000 people</th>
					<th class='center'>Top Employer</th>
				</thead>
				<tbody>
					<tr> 
						<td>{{cityCtrl.city_name}}</td>
						<td>{{cityCtrl.population}}</td>
						<td>{{cityCtrl.jobs}}</td>
						<td>{{cityCtrl.top_employer}}</td>
					</tr>
				</tbody>
			</table>

	</div>

</div>

