<div ng-controller='CityController as cityCtrl'><h4>SELECT A CITY (NAME OR ZIP)</h4>
	<form>
		<input type='text' ng-model='cityCtrl.city'><br/>
		<button ng-click='cityCtrl.sendCity()'>Search city</button>
	</form>

</div>