<div ng-controller='CityController as cityCtrl'><h4>SELECT A CITY</h4>
<!-- 	<form>
		<input type='text' ng-model='cityCtrl.city'><br/>
		<button ng-click='cityCtrl.sendCity()'>Search city</button>
	</form>
 -->
	<form>
		<select name='city_name' ng-model='cityCtrl.selection'>
			<% @cities.each do |city| %>
				<option value='<%=city.city_name%>'><%=city.city_name%></option>
			<% end %>
		</select>
		<br/><br/>
		<button ng-click='cityCtrl.sendCity()'>Search City</button>
	</form>

	<h4 ng-if='cityCtrl.city_name'>City Data:</h4>
		<p ng-if='cityCtrl.city_name'>City: {{cityCtrl.city_name}}</p>
		<p ng-if='cityCtrl.city_name'>Population: {{cityCtrl.population}}</p>
		<p ng-if='cityCtrl.city_name'>Jobs per 1000 people: {{cityCtrl.jobs}}</p>
		<p ng-if='cityCtrl.city_name'>Top Employer: {{cityCtrl.top_employer}}</p>
		<p ng-if='cityCtrl.city_name'>Zip(s): {{cityCtrl.zip}}</p>
</div>